/*#region Palette*/

:root {
  --rdc-primary: #0282f9;
  --rdc-secondary: #303030;
  --rdc-bg: #1c1c1c;
}


/*#endregion Palette*/


/*#region Header*/
.nav-underline .nav-link.active{
    color: var(--rdc-primary);
}
/*#endregion Header*/

/*#region Main*/

/*#region Jumbotron*/
#jumbotron{
    background-image: url("./assets/img/jumbotron.jpg");
    height: 400px;
}

/*#endregion Jumbotron*/


#floatingLabel{
  top: -25px;
  left: 310px;
}


/*#endregion Main*/

/*#region Footer*/
/*#region FooterJumbo*/
#footerJumbo{
  background-image: url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*#endregion FooterJumbo*/
/*#endregion Footer*/